<div class="wrapper scroll-y" ng-controller="CoordDetailsController">
	
	<h2>{{coord.coordJobName}}</h2>

	<h3>Properties</h3>
	
	 <div class="table-responsive">
				<table class="table table-condensed">
					<tr><th>Name</th><th>Value</th></tr>
					<tr>
						<td>Coord Job Name</td>
						<td ng-bind="coord.coordJobName"></td>
					</tr>
					<tr>
						<td>Coord Job Id</td>
						<td ng-bind="coord.coordJobId"></td>
					</tr>
					<tr>
						<td>Status</td>
						<td ng-bind="coord.status"></td>
					</tr>
					<tr>
						<td>Frequency</td>
						<td ng-bind="coord.frequency"></td>
					</tr>
					<tr>
						<td>Start Time</td>
						<td ng-bind="coord.startTime"></td>
					</tr>
					<tr>
						<td>End Time</td>
						<td ng-bind="coord.endTime"></td>
					</tr>
					<tr>
						<td>Last Action</td>
						<td ng-bind="coord.lastAction"></td>
					</tr>
					<tr>
						<td>Next Materialized Time</td>
						<td ng-bind="coord.nextMaterializedTime"></td>
					</tr>
				</table>
	</div>
	<div class="container-fluid table-view">
	<h2>Workflows</h2>
	
	<div class="table-responsive">
<h4>Showing {{coord.total}} Workflows</h4>
	<table class="table table-striped table-condensed">
		<tr>
			<th>Status</th>
			<th>Nominal Time</th>
			<th>External Id</th>
			<th>Last Modified</th>
			<th>Created</th>
			<th>Missing Dependencies</th>
		</tr>

		<tbody>
			<tr ng-repeat="action in coord.actions" class="clickable" ng-click="workflow(action)">
				<td ng-bind="action.status"></td>
				<td ng-bind="action.nominalTime"></td>
				<td ng-bind="action.externalId"></td>
				<td ng-bind="action.lastModifiedTime"></td>
				<td ng-bind="action.createdTime"></td>
				<td ng-bind="action.missingDependencies"></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	
<div class="footer">
	<button class="btn btn-danger pull-right" ng-click="kill()">Kill</button>
	<button class="btn btn-primary pull-right" ng-click="refresh()">Refresh</button>
	</div>
</div>
