<div class="wrapper scroll-y" ng-controller="WfActionController">

	<h1>{{action.name}}</h1>
	<div class="table-responsive">
				<table class="table table-condensed">
					<tr><th>Name</th><th>Value</th></tr>
					<tr>
						<td>Name</td>
						<td ng-bind="action.name"></td>
					</tr>
					<tr>
						<td>Id</td>
						<td ng-bind="action.externalId"></td>
					</tr>
					<tr>
						<td>Start Time</td>
						<td ng-bind="action.startTime"></td>
					</tr>
					<tr>
						<td>End Time</td>
						<td ng-bind="action.endTime"></td>
					</tr>
					<tr>
						<td>Type</td>
						<td ng-bind="action.type"></td>
					</tr>
					<tr>
						<td>Status</td>
						<td ng-bind="action.status"></td>
					</tr>
					<tr>
						<td>Console Url</td>
						<td ng-bind="action.consoleUrl"></td>
					</tr>
					<tr>
						<td>Next Action</td>
						<td ng-bind="action.transition"></td>
					</tr>
					<tr>
						<td>Error Message</td>
						<td ng-bind="action.errorMessage"></td>
					</tr>
				</table>
		</div>
		
		<div class="table-responsive">
			<table class="table table-condensed">
					<tr>
						<td>Conf</td>
						<td ng-bind="action.conf"></td>
					</tr>
				</table>
		</div>
		<div class="footer">
	<button class="btn pull-right" ng-click="refresh()">Refresh</button>
	</div>
</div>
